@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');


.main-content {
  background-color: #54899d;
  color: #f2f2f2;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 4px 0%
}
.link-contents {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 40%;
  font-size: 26px;
}

a:-webkit-any-link { /* Referente ao link */
  color: #f2f2f2;
  cursor: pointer;
  font-family: 'Pompiere', cursive;
  font-size: 170%;
  text-decoration: none;
}

.button-header{
  background-color: #54899d;
  box-shadow: none;
  border: none;
}
.button-header:hover{
  cursor: pointer;
}